# DarqOS
# Copyright (C) 2024, David Arnold

[Unit]
Description=DarqOS Security Service

[Service]
Type=simple
ExecStart=/darq/services/security/darqos-security
Restart=always
RestartSec=1

[Install]
WantedBy=darqos.target
