# DarqOS
# Copyright (C) 2024, David Arnold

[Unit]
Description=DarqOS Storage Service
Requires=darqos-pkernel.service

[Service]
Type=simple
ExecStart=/darq/services/storage/darqos-storage
Restart=always
RestartSec=1

[Install]
WantedBy=darqos.target
